// MANDELBROT THEME OVERWRITES

.Tree-item{
	@include core-16;
    height: 32px;
}

.Tree-entityLink{
	span{
		color: $link-colour;
	}
}

.Tree-title{
	margin-bottom: 0;
	color: $text-colour;
}

.Navigation-group + .Navigation-group {
    margin-top: 2.5rem;
}

.Preview-handle{
    right: 5px;
}

.Preview-resizer {
    max-width: calc(100% - 0.625rem + 10px);
}

.Browser-tab a:focus,
.Tree-entityLink:focus{
	background-color: transparent;
    outline: none;
}

.Pen-title{
    @include core-19();
	color: $text-colour;
}

.Pen-previewLink svg {
    vertical-align: middle;
}

.Meta,
.Prose{
	@include core-19;
	color: $text-colour;
}

.Prose {
	font-family: "nta", Arial, sans-serif;
	h1{
    	@include bold-27();
		color: $text-colour;
	}
	h2{
    	@include bold-24();
		color: $text-colour;
	}
}

.Document-title{
  @include bold-36();

  margin-top: em(25, 24);
  margin-bottom: em(10, 24);

  @include media(tablet) {
    margin-top: em(45, 36);
    margin-bottom: em(20, 36);
  }
}


















