$path: "/images/";

@import 'govuk-elements';

#wrapper{
    min-height: 500px;
}

// Adjust grid
#global-header.with-proposition .header-wrapper {
	.header-global{ width: 50% }
	.header-proposition{ width: 50% }
}

// Product name
.product-name{
	font-weight: 400;
	padding: 0 5px;
	font-size: 24px;
}

// Smaller phase tag in header
#global-header .phase-banner-beta {
    border: 0;
	.phase-tag{
		font-size: 14px;
	    vertical-align: middle;
	    background: #005EA5;
	}
}

// Right-aligned header links
#global-header .header-proposition #proposition-links.right-aligned{
	li{
		float: right;
    	padding: 0 0 0 15px;
	}
}

// FULL WIDTH HEADER

.header-full-width{
	#global-header .header-wrapper {
		margin: 0;
		max-width: none;
	}

	#global-header-bar{
    	width: 100%;
		max-width: none;
    	margin-left: 0;
	}
}

// FIXED POSITION HEADER

.header-fixed-position{
	#global-header{
	    position: fixed;
	    z-index: 100;
	}
	#global-header-bar{
		position: fixed;
	    top: 53px;
	    z-index: 100;
	}
}


// FRACTAL

.Frame-body{
    //margin-top: 70px;
}


.Tree-item{
	@include core-16;
    height: 32px;
}

.Tree-entityLink{
	span{
		color: $link-colour;
	}
}

.Tree-title{
	margin-bottom: 0;
	color: $text-colour;
}

.Navigation-group + .Navigation-group {
    margin-top: 2.5rem;
}

.Preview-handle{
    right: 5px;
}

.Preview-resizer {
    max-width: calc(100% - 0.625rem + 10px);
}

.Browser-tab a:focus,
.Tree-entityLink:focus{
	background-color: transparent;
    outline: none;
}

.Pen-title{
    @include core-19();
	color: $text-colour;
}

.Pen-previewLink svg {
    vertical-align: middle;
}

.Meta,
.Prose{
	@include core-19;
	color: $text-colour;
}

.Prose {
	h1{
    	@include bold-27();
		color: $text-colour;
	}
	h2{
    	@include bold-24();
		color: $text-colour;
	}
}




















