

<!-- Start: @colour--default -->

<div class="swatch-wrapper">
  <h4 class="heading-small">Text</h4>
  
  <ul style="border-left: 60px solid #0B0C0C;padding-left:10px;margin-bottom:10px">
    <li><b>#0B0C0C</b></li>
    <li>$text-colour</li>
  </ul>
  
  <ul style="border-left: 60px solid #6F777B;padding-left:10px;margin-bottom:10px">
    <li><b>#6F777B</b></li>
    <li>$secondary-text-colour</li>
  </ul>
  
  <ul style="border-left: 60px solid #FFFFFF;padding-left:10px;margin-bottom:10px">
    <li><b>#FFFFFF</b></li>
    <li>$page-colour</li>
  </ul>
 
</div>

<div class="swatch-wrapper">
  <h4 class="heading-small">Links</h4>
 
</div>

<div class="swatch-wrapper">
  <h4 class="heading-small">Backgrounds</h4>
 
</div>

<!-- End: @colour--default -->

