

<!-- Start: @layout--default -->
<div class="grid-row">
  <div class="column-full">
    <p style="background-color:#dee0e2;padding:10px;text-indent:-9999px">Column</p>
  </div>
</div>

<div class="grid-row">
  <div class="column-one-half">
    <p style="background-color:#dee0e2;padding:10px;text-indent:-9999px">Column</p>
  </div>
  <div class="column-one-half">
    <p style="background-color:#dee0e2;padding:10px;text-indent:-9999px">Column</p>
  </div>
</div>

<div class="grid-row">
  <div class="column-one-third">
    <p style="background-color:#dee0e2;padding:10px;text-indent:-9999px">Column</p>
  </div>
  <div class="column-one-third">
    <p style="background-color:#dee0e2;padding:10px;text-indent:-9999px">Column</p>
  </div>
  <div class="column-one-third">
    <p style="background-color:#dee0e2;padding:10px;text-indent:-9999px">Column</p>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <p style="background-color:#dee0e2;padding:10px;text-indent:-9999px">Column</p>
  </div>
  <div class="column-one-third">
    <p style="background-color:#dee0e2;padding:10px;text-indent:-9999px">Column</p>
  </div>
</div>

<div class="grid-row">
  <div class="column-one-quarter">
    <p style="background-color:#dee0e2;padding:10px;text-indent:-9999px">Column</p> 
  </div>
  <div class="column-one-quarter">
    <p style="background-color:#dee0e2;padding:10px;text-indent:-9999px">Column</p>
  </div>
  <div class="column-one-quarter">
    <p style="background-color:#dee0e2;padding:10px;text-indent:-9999px">Column</p>
  </div>
  <div class="column-one-quarter">
    <p style="background-color:#dee0e2;padding:10px;text-indent:-9999px">Column</p>
  </div>
</div>
<!-- End: @layout--default -->

