// MANDELBROT THEME OVERWRITES

.Tree-item{
	@include core-16;
    height: 32px;
}

.Tree-entityLink{
	span{
		color: $link-colour;
	}
	.Status{
		display: none;
	}
}

.Tree-title{
	margin-bottom: 0;
	color: $text-colour;
	text-transform: none;
	@include bold-16;
    letter-spacing: normal;
}

.Navigation-group + .Navigation-group {
    margin-top: 2.5rem;
}

.Preview-handle{
    right: 5px;
}

.Preview-resizer {
    max-width: calc(100% - 0.625rem + 10px);
}

.Browser-tab a:focus,
.Tree-entityLink:focus{
	background-color: transparent;
    outline: none;
}

.Browser-tab a{
    @include core-16();
    color: $text-colour;
}
.Browser-tab a:hover{
    border-bottom: 3px solid $border-colour;
}
.Browser-tab.is-active a{
    color: $text-colour;
    border-bottom: 3px solid #005ea5;
}

.Browser-panel{
	padding: 30px 0;
}

.Browser-notes,
.Browser-panel,
.Browser-panel .Code,
.Browser-panel .Code pre{
	background-color: white;	
}

.Frame-panel--sidebar{
	background-color: white;
	-webkit-border-end: none;
    width: 25%;
    padding: 30px 0;
    border-right: 1px solid $border-colour;
    margin-right: 15px;
}

.Pen-info{
	border: 0px solid $border-colour;	
}

.Pen-header{
    max-height: none;
    padding: 10px 0.75rem 20px;
}

.Preview{
	border: 2px solid $border-colour;
}

.Pen-title{
    @include core-19();
	color: $text-colour;
	margin-top: 15px;
}

.Pen-previewLink:link {
	color: $text-colour;
}

// Remove dahsboard-style
.Pen{
	height: auto;
}
.Browser{	
    position: initial;
}

.Meta,
.Prose{
	@include core-19;
	color: $text-colour;
}

.Prose {
	font-family: "nta", Arial, sans-serif;
	h1{
    	@include bold-27();
		color: $text-colour;
	}
	h2{
    	@include bold-24();
		color: $text-colour;
	}
}

.Document-title{
  @include bold-36();

  margin-top: em(25, 24);
  margin-bottom: em(10, 24);

  @include media(tablet) {
    margin-top: em(45, 36);
    margin-bottom: em(20, 36);
  }
}


















